name: Build and deploy mkdocs to https://microsoft.github.io/code-with-engineering-playbook
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive" 
          fetch-depth: 0       # Fetch all history for .GitInfo and .Lastmod
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: '3.9'
          architecture: 'x64'
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip      
          python3 -m pip install wheel                                 
          pip3 install mkdocs-material==7.1.7 pymdown-extensions==9.0 mkdocs-mermaid2-plugin mkdocs-pdf-export-plugin mkdocs-git-revision-date-localized-plugin
      - name: Build site
        run: mkdocs build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
